@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  padding: 0%;
}

nav {
  height: 50px;
  width: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5px;
  outline-style: groove;
  outline-color: white;
  outline-width: 1px;
}
.icon {
  color: firebrick;
  margin: 10px;
}
.profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
header {
  color: firebrick;
  font-size: 3rem;
}
h1,
h2,
h3 {
  font-weight: 400;
}
footer h1 {
  margin: 0;
}
p {
  font-family: "Nunito Sans", sans-serif;
}

a {
  padding: 8px;
  border-radius: 16px;
  background-color: firebrick;
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: indianred;
}
footer a {
  padding-left: 9.5px;
  padding-right: 9.5px;
  border-radius: 50%;
}

.black {
  background-color: black;
  color: white;
  padding: 10%;
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.white {
  background-color: white;
  color: black;
  padding: 5%;
  width: 90%;
}

#info {
  width: 300px;
  justify-self: center;
}

#traits {
  color: dimgray;
  margin-left: 8px;
  font-size: 0.9rem;
}

#design {
  width: 350px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#design img {
  width: 95%;
  margin: 2.5%;
  justify-self: center;
  align-self: center;
}
#design header {
  font-size: 2.5rem;
  text-align: right;
}

footer {
  background-color: black;
  color: white;
  padding: 4%;
}

.spotify {
  width: 100%;
  height: 352px;
}
.youtube {
  width: 100%;
  height: 315px;
}

@media (min-width: 768px) {
  nav {
    position: sticky;
    top: 0;
  }

  .black {
    padding: 5%;
    height: 450px;
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .white {
    background-color: white;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
    height: 450px;
  }

  #info {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #design {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    width: 700px;
    justify-self: center;
  }

  footer {
    background-color: black;
    color: white;
    padding: 4%;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  h1 {
    font-size: 3em;
  }
  .profile {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-right: 40px;
    margin-left: 50px;
    justify-self: left;
  }
  .promo {
    margin-left: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-flow: column;
    align-content: end;
    align-self: flex-end;
  }
  .promo a {
    margin-top: 15px;
  }

  #info header {
    text-align: right;
    padding-right: 10px;
  }
  #traits {
    grid-row-start: 3;
    padding: 10px;
  }
  #description {
    margin-top: 5.6rem;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #info img {
    grid-column-start: 2;
  }

  #design header {
    align-self: flex-end;
    text-align: right;
    font-size: 3rem;
  }

  .youtube {
    width: 40%;
    margin-right: 20px;
  }
  .spotify {
    width: 40%;
    margin-left: 20px;
  }
}
